body {
  font-family: Arial;
  font-size: 1em;
 }

.primary td {
  font-family: Arial;
  font-variant: small-caps;
  font-size: 2em;
  width: 8em;
  font-weight: bold;
  padding: 5px;
}

th {
  font-family: Arial;
  font-variant: small-caps;
  font-weight: bold;
}

.primary th {
  font-size: 2em;
  font-weight: bold;
}

.games-now {
  border: 0px;
  font-family: Arial;
  font-variant: small-caps;
  font-size: 2em;
}

.empty {
  background-color: blue;
  position: relative;
  float: left;
}

.team-bar {
  position: relative;
  float: left;
  color: transparent;
  border: 1px solid;
}

.win-bar {
  height: 1em;
  overflow: hidden;
  clear: both;
  white-space: nowrap;
}


table {
	border: 5px solid black;
	width: 100%;
}

.team td {
  font-family: Arial;
  padding: 5px;
  font-weight: bold;
}

.team td:nth-child(1) {
	/*width: 1%;*/
}
.team td:nth-child(2) {
	width: 20%;
}
.team td:nth-child(3) {
	width: 50%;
}
.team td:nth-child(4) {
	width: 10%;
}
.team td:nth-child(5) {
	width: 10%;
}
.team td:nth-child(6) {
	width: 30%;
}


/* BUTTON CSS */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Arial;
  font-variant: small-caps;
  font-size: 2em;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1em;
  color: blue;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



